<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>18/02/02 15:32:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_101.flightBookingExecution()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@5e5792a0]">flightBookingExecution</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/02/02 15:32:01</td>   <td>-23302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.open()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@5e5792a0]">&gt;&gt;open</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/02/02 15:32:46</td>   <td>21757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@5e5792a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
</table>
