<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:37:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartUp(java.lang.String)[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@77caeb3e]">&gt;&gt;StartUp</td> 
<td>&nbsp;</td>  <td>TestNG@1113930867</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:37:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartUp(java.lang.String)[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@e25b2fe]">&gt;&gt;StartUp</td> 
<td>&nbsp;</td>  <td>TestNG@1026097817</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:38:25</td>   <td>39585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartUp(java.lang.String)[pri:0, instance:com.orbitz.testscripts.lib.TestCase_102@1e88b3c]">&gt;&gt;StartUp</td> 
<td>&nbsp;</td>  <td>TestNG@1113930867</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:38:35</td>   <td>49337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartUp(java.lang.String)[pri:0, instance:com.orbitz.testscripts.lib.TestCase_102@754ba872]">&gt;&gt;StartUp</td> 
<td>&nbsp;</td>  <td>TestNG@1026097817</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/02/02 12:38:17</td>   <td>30807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_101.flightBookingExecution()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@77caeb3e]">flightBookingExecution</td> 
  <td>TestNG@1113930867</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/02/02 12:38:22</td>   <td>35737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_101.flightBookingExecution()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@e25b2fe]">flightBookingExecution</td> 
  <td>TestNG@1026097817</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>18/02/02 12:38:43</td>   <td>56788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_102.hotelPageExecution()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_102@1e88b3c]">hotelPageExecution</td> 
  <td>TestNG@1113930867</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>18/02/02 12:39:02</td>   <td>76105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_102.hotelPageExecution()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_102@754ba872]">hotelPageExecution</td> 
  <td>TestNG@1026097817</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:38:24</td>   <td>38352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@77caeb3e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1113930867</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:38:35</td>   <td>49225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_101@e25b2fe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1026097817</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:39:03</td>   <td>77652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_102@1e88b3c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1113930867</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/02/02 12:39:19</td>   <td>92980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:com.orbitz.testscripts.lib.TestCase_102@754ba872]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1026097817</td>   <td></td> </tr>
</table>
